.DS_Store
bin
gen
*.iml
.settings
local.properties
release.properties
release
.DS_Store
*Thumbs.db
*.jar.properties
build/
.gradle/
.idea/
.navigation/
maps.txt
*.pyc
build/
build-mira/
public.txt
config/